body								{ background-image: none; }

#container							{ width: 620px; }
section .main-list					{ width: 465px; }

#about p.info a						{ text-decoration: none; }

#about p.photo						{ display: none; left: -6px; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; border: none; padding: 0; }
#about p.photo img					{ border-radius: 0; }
#about p.photo:hover				{  }

#about #portfolio-link				{ display: none; }

li.tag								{
	list-style: none; display: block; float: left; margin: 0 12px 4px 0; background: #999; border: 1px solid #a3bde9; border-radius: 20px;
	background-color: #DCE6F7;
	background-image: -ms-linear-gradient(top, #DCE6F7 0%, #BDE0F0 100%);
	background-image: -moz-linear-gradient(top, #DCE6F7 0%, #BDE0F0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DCE6F7), color-stop(1, #BDE0F0));
	background-image: -webkit-linear-gradient(top, #DCE6F7 0%, #BDE0F0 100%);
	background-image: linear-gradient(to bottom, #DCE6F7 0%, #BDE0F0 100%);
}
li.tag:hover, li.tag.active			{
	border-color: inherit;
	background-color: inherit;
	background-image: inherit;
	background-image: inherit;
	background-image: inherit;
	background-image: inherit;
	background-image: inherit;
}
li.tag								{ background: none; border: none; margin: 0; padding: 0; }
li.tag a							{ display: block; width: 100%; height: 100%; padding: 0 12px 0 0; text-decoration: inherit; color: inherit; color: #222; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
li.tag a:after						{ content: ','; }
li.tag:last-child a:after			{ content: ''; }
li.tag:hover a, li.tag.active a		{ color: #fff; text-shadow: none; }

#elsewhere							{ display: none; }
footer								{ display: none; }