/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {     display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
* /* change colours to suit your needs */ins {background-color:#ff9;color:#000;text-decoration:none;}
* /* change colours to suit your needs */mark {background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
* /* change border colour to suit your needs */hr {display:block;height:1px;border:0;   border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select {vertical-align:middle;}
/* end css reset */

/* some helper classes */

.clear 								{ clear: both; }
.clear:after 						{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.left								{ float: left; }
.right								{ float: right; }
.hide-text 							{ text-indent: -9999px; overflow: hidden; position: relative; }

/* custom global html element selectors */

html								{ -webkit-font-smoothing: antialiased; overflow: auto; box-sizing: border-box; }
body								{ font-family: 'Roboto Slab', serif; font-weight: 700; color: #333; background-image: url(../images/bg.png);  }
img									{ -ms-interpolation-mode: bicubic; }
td, td img							{ vertical-align: top; }
b, strong							{ font-weight: bold; }
p, ul, ol							{ font-size: 16px; line-height: 1.6em; text-shadow: 1px 1px #fff; }
ul, ol								{  }
li									{  }
h1, h2, h3							{ font-weight: bold; text-shadow: 1px 1px #fff; }
h1									{ font-size: 24px; }
h2									{ font-size: 20px; }
h3									{  }
a									{ color: inherit; text-decoration: none; border-bottom: 1px solid #ccc; transition: 0.3s border-bottom; }
a:hover 							{ border-bottom-color: #333; }

/* site-specific and page-specific selectors */

#container							{ width: 720px; margin: 0 auto; }
section								{ padding: 24px 0; clear: both; }
section h2							{ float: left; width: 115px; padding-right: 19px; text-align: right; font-family: 'Palanquin Dark', sans-serif; line-height: 1.1; }
section .main-list					{ float: right; width: 565px; padding-left: 19px; border-left: 1px solid #999; }
section .main-list li				{ list-style: none; }

#about								{  }
#about h1							{ border-bottom: 1px solid #999; font-family: 'Palanquin Dark', sans-serif; font-weight: bold; font-size: 42px; padding-bottom: 8px; margin-bottom: 8px; line-height: 1.1; }
#about h1 a							{ color: inherit; text-decoration: none; text-decoration: none; border-bottom: none; }
#about p.photo						{ float: right; margin: 0 0 0 12px; padding: 6px; background-color: #efefef; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0px 0px 3px #bbb; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); position: relative; left: 14px; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -ms-transition: -ms-transform 0.3s; transition: transform 0.3s; }
#about p.photo img					{ width: 150px; display: block; border-radius: 2px; }
#about p.photo:hover				{ -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); transform: rotate(-5deg); }
#about p.info						{ font-weight: normal; color: #666; }
#about span.label					{ font-weight: bold; width: 65px; display: inline-block; text-align: right; vertical-align: top; margin-right: 1rem; text-transform: lowercase; }
#about #summary						{ margin-top: 36px; font-weight: 400; }
#about #summary p					{ font-size: 14px; font-style: italic; color: #555; margin-bottom: .5em; }

#skills								{ padding-top: 36px; }
#skills ol							{  }
li.tag								{
	list-style: none; display: block; float: left; margin: 6px 12px 6px 0; background: #999; border: 1px solid #a3bde9; border-radius: 20px;
	background-color: #DCE6F7;
	background-image: -ms-linear-gradient(top, #DCE6F7 0%, #BDE0F0 100%);
	background-image: -moz-linear-gradient(top, #DCE6F7 0%, #BDE0F0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DCE6F7), color-stop(1, #BDE0F0));
	background-image: -webkit-linear-gradient(top, #DCE6F7 0%, #BDE0F0 100%);
	background-image: linear-gradient(to bottom, #DCE6F7 0%, #BDE0F0 100%);
}
li.tag:hover, li.tag.active			{
	border-color: #2E75DD;
	background-color: #4D93FD;
	background-image: -ms-linear-gradient(top, #4D93FD 0%, #2D65FC 100%);
	background-image: -moz-linear-gradient(top, #4D93FD 0%, #2D65FC 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4D93FD), color-stop(1, #2D65FC));
	background-image: -webkit-linear-gradient(top, #4D93FD 0%, #2D65FC 100%);
	background-image: linear-gradient(to bottom, #4D93FD 0%, #2D65FC 100%);
}
li.tag a							{ display: block; height: 100%; padding: 0 12px; text-decoration: inherit; color: inherit; color: #222; font-size: 13px; font-family: 'Palanquin Dark', sans-serif; font-weight: 400; border-bottom: none; }
li.tag:hover a, li.tag.active a		{ color: #fff; text-shadow: none; }

#experience							{ clear: both; }
#experience ol li					{ margin-bottom: 24px; }
#experience ol li:last-child		{ margin-bottom: 0; }
#experience .company				{ font-weight: bold; float: left; color: #000; font-family: 'Palanquin Dark', sans-serif; }
#experience .company a 				{ border-bottom: none; }
#experience .title					{ font-weight: normal; color: #222; font-style: italic; font-size: 14px; padding-left: 4px; font-family: 'Roboto Slab', serif; }
#experience .dates					{ float: right; color: #555; font-style: italic; font-size: 14px; font-weight: 400; }
#experience .details				{ clear: both; display: block; font-size: 14px; color: #222; font-style: italic; }
#experience .roles					{ margin: 12px 0 0px 36px; }
#experience .roles li				{ list-style: disc outside none; font-size: 14px; color: #333; margin-bottom: 0.5rem; font-weight: 400; }

#education							{  }
#education ol li					{ margin-bottom: 24px; }
#education ol li:last-child			{ margin-bottom: 0; }
#education .institution				{ font-weight: bold; float: left; font-family: 'Palanquin Dark', sans-serif; color: #222; }
#education .degree					{ font-weight: normal; color: #222; font-style: italic; font-size: 14px; padding-left: 4px; font-family: 'Roboto Slab', serif; }
#education .dates					{ float: right; color: #555; font-style: italic; font-size: 14px; font-weight: normal; }

#references							{  }
#references .name					{ display: block; }
#references .title					{ display: block; }
#references .phone					{ display: block; }

#projects							{ clear: both; padding-top: 36px; }
#projects li.project				{ width: 100%; list-style: none; margin: 0 0 40px 0; padding: 10px; background: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0px 0px 3px #bbb; }
#projects li.project h2				{ float: left; font-size: 24px; font-family: 'Palanquin Dark', sans-serif; margin: 12px 0; }
#projects li.project .link			{ float: right; margin-top: 12px; font-weight: normal; }
#projects li.project .link a		{ color: #555; text-decoration: none; }
/*#projects li.project .images		{ height: 300px; overflow: hidden; border-radius: 3px; background-color: #ccc; }*/
/*#projects li.project .images li		{ display: block; position: absolute; border-radius: 3px; border: 1px solid #ddd;}*/
/*#projects li.project .images li img	{ display: block; width: 100%; border-radius: 3px; }*/
#projects .slick-prev				{ left: 10px; z-index: 9999; }
#projects .slick-next				{ right: 10px; z-index: 9999; }
#projects .slick-prev:before, .slick-next:before { color: #000 !important; }
#projects li.project .inner 		{ padding-left: 1rem; padding-right: 1rem; margin-top: 1rem; margin-bottom: 1rem; }
#projects li.project .description	{ margin-top: 6px; }
#projects li.project .description p	{ font-size: 14px; color: #555; margin-bottom: 1em; font-weight: normal; }
#projects li.project .description p:last-child { margin-bottom: 0; }
#projects li.project .tags			{  }
#projects li.project .tags .tag		{  }
#projects li.project .tags .tag a	{  }

#elsewhere 							{  }
#elsewhere ul li 					{ font-family: 'Palanquin Dark', sans-serif; margin-bottom: 0.25rem; padding-bottom: 0.5rem; }
#elsewhere ul li a					{ color: #222; }
#elsewhere ul li.stack-overflow		{  }
#elsewhere ul li.github				{  }
#elsewhere ul li.linkedin			{  }

footer								{ margin: 48px 0; border-top: 1px solid #ccc; padding-top: 2.5rem; }
footer p							{ font-size: 14px; font-style: italic; text-align: center; text-transform: lowercase; color: #999; font-weight: normal; }
