.projects {
    .project {
        width: 100%;
        list-style: none;
        margin: 0 0 24px 0;
        padding: 10px;
        background: #efefef;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 0px 3px #bbb;

        .images {
            height: 300px;
            overflow: hidden;
            border-radius: 3px;
            background-color: #ccc;
            margin-left: 0;

            .image {
                display: block;
                border-radius: 3px;
                border: 1px solid #ddd;

                img {
                    display: block;
                    width: 100%;
                    border-radius: rem-calc(3);
                }
            }
        }

        .orbit-bullets {
            margin-bottom: 0;

            button {
                width: rem-calc(12);
                height: rem-calc(12);

                &.is-active {

                }
            }
        }

        .title {
            float: left;
            font-family: $body-font-family;
            font-size: rem-calc(24);
            margin-bottom: rem-calc(12);
        }

        .link {
            float: right;
            margin-top: rem-calc(12);
        }

        .tags {
            margin-left: 0;
        }

        .tag {
            list-style: none;
            display: inline-block;
            margin: 0 rem-calc(12) rem-calc(4) 0;
        }

        .description {
            margin-top: rem-calc(6);

            p {
                font-size: rem-calc(14);
                color: #555;
                margin-bottom: 1rem;
                font-family: $body-serif-font-family;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
