footer {
    margin-top: 2rem;
    margin-bottom: 2rem;

    p {
        text-align: center;
        text-transform: lowercase;
        font-style: italic;
        font-family: $body-serif-font-family;
        font-size: rem-calc(14);
        margin-bottom: 0;
    }
}
