<header>
    <div class="row">
        <div class="column large-12">
            <h1 class="title"><a href="/resume">Ash M. White</a></h1>

            <p class="photo">
                <img src="{{root}}assets/img/ash-white.jpg" alt="Photo of Ash White" />
            </p>

            <div class="contact">
                <p class="phone"><span class="header-label">Phone</span> <span id="phone-number">Enable JavaScript</span></p>
                <p class="email"><span class="header-label">Email</span> <a id="email-address">Enable JavaScript</a></p>
                <p class="location"><span class="header-label">Location</span> Athens, GA</p>
            </div>
        </div>
    </div>
</header>
